    .header{
      background-color: lightgreen;
      height: 70px;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .nav a{
      display: inline-block;
      justify-content: space-between;
      color: rgb(45, 45, 45);
      padding: 0 15px;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
    }

    footer{
      background-color: burlywood;
      height: 50px;
    }
